@font-face {
    font-family: 'HMP';
    src: url("hiragino-maru-gothic-pron-w4.otf") format("truetype");
}

html{
    background-color:rgb(236, 238, 247);
}
body::-webkit-scrollbar {
    display: none;
  }
body{
    font-family: 'HMP';
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.7rem; 
    overscroll-behavior-x: none;
    margin: 0%;
    padding:0;
    z-index: 0;
    color: rgb(50, 45, 39);
}

main{
    margin-top: 5rem;
}

.coquille {
    filter: url(#n0)
}

.coquille-0{
    filter: url(#n1)
}

body.coquille-0 {
    filter: url(#n2)
}

span:hover{
    color: rgb(62, 32, 12);
}

p.menu{
    position: fixed;
    margin: 0%;
    padding: 0%;
    top: 2rem;
    left: 2rem;
    z-index: 3;
    height: 100px;
    justify-content: space-between;
}

img{
    max-width: 15rem;
}
.imgs-grid{
    display: grid;
  	grid-template-columns:repeat(auto-fill, minmax(16rem, 1fr));
  	grid-row-gap: 1em;
	margin-bottom: 1em;
    width: 65vw;
    margin-left: 30vw;
}
table{
    width: 100vw;
    margin-top: 0vh;
    margin-left: 0vw;
}
td{
    width: 20vw;
    align-items: center;
    text-align: center;
}
p.text{
    max-width: 63vw;
    margin-left:30vw;
}
span:hover{
    background-color: rgb(50, 45, 39);
    color: rgb(236, 238, 247);
    border-radius: 2px;
}

figcaption{
    text-align: center;
}

span.c{
    background-color: rgb(50, 45, 39);
    color: rgb(236, 238, 247);
    border-radius: 2px;
}